
            <article class="contenido_item extended">
                <figure>
                    <a href="#"><img {{bind-Attr src="img"}}></a>
                </figure>
                <div class="item_info">
                    <h2>{{title}}</h2>
                   {{#link-to 'post' this}} <p class="item_posted">Posted by  {{author.name}}</p>{{/link-to}}
                    <span aria-hidden="true" class="icon-heart-2"></span>
                    <p>{{body}}</p>
                </div>
                <div class="item_extra">
                    <p class ="extra_tag">tagname</p>
                    <div class="extra_likes">
                        <a class="likes_up" href="#" {{action "voteUp" }}><span aria-hidden="true" class="icon-arrow-up"></span></a>
                        <div class="likes_numero">{{votes}}</div>
                        <a class="likes_down" href="#" {{action "voteDown" }}><span aria-hidden="true" class="icon-arrow-down"></span></a>
                    </div>
                </div>
            </article>  